/* Any Size */


nav-bar {
    margin: 0 !important;
    padding: 0 !important;
    border-width: 0 !important;
    width: 100% !important;
    bottom: auto !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 999 !important;

    nav-bar-branding {
        display: block;
        height: 100%;
        margin-left: 5%;
        width: auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    nav-bar-burger {
        display: none;
    }

    nav-bar-menu {
        display: inline-flex;
        margin-right: 10%;
        column-gap: 20px;
        font-family: "Roboto Slab", serif;
        font-feature-settings: normal;
        font-kerning: auto;
        font-optical-sizing: auto;
        font-size: 15px;
        font-size-adjust: none;
        font-stretch: 100%;
        font-style: normal;

        scroll-to {
            display: block;
        }
    }
}

.nav-bar-underlay {
    min-height: 100px;
    max-height: 100px;
}







